{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "features.html" . }}

{{ partial "timeline.html" . }}

{{ partial "portfolio.html" . }}

<div id="contact" class="p-4">
    {{ if (eq .Site.Language.Lang "en")}}
    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="efEVHvYnME-j-wix5BzF6A" data-form="5"></script>
    {{ else }}
    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="efEVHvYnME-j-wix5BzF6A" data-form="4"></script>
    {{ end }}
</div>

{{ end }}
