<section id="banner" class="p-4 sm:m-4 md:m-8 lg:m-16">

  <div id="slideshow" class="mx-auto place-content-around place-items-center max-w-6xl sm:h-auto md:h-96 lg:flex">
    <div id="button_prev" class="hidden w-fit md:block">
      <button class="hover:text-cyan-800" onclick="prevSlide()">&#10094;</a>
    </div>
  
    {{ with index .Site.Data.banners .Site.Language.Lang }}
    {{ range . }}
    <div class="banner_entry block">
      <div class="sm:flex-initial md:flex place-items-center place-content-stretch">
        <div class="mx-auto w-3/5 lg:w-2/5" > <!-- image -->
          {{ with .logo_src }}<img class="h-auto max-w-full rounded-full" src="{{ . }}" loading="lazy"/>{{ end }}
        </div>
        <div class="my-4 sm:w-1/2 lg:w-3/5">
          <div class="text-center"> <!-- title -->
            <p class="font-heading text-3xl xl:text-4xl">{{ .title }}</p>
          </div>
          <div class="m-10 mx-auto text-gray-600 w-2/3"> <!-- description -->
            <p class="font-heading sm:text-xl xl:text-2xl">{{ .description }}</p>
          </div>
          {{ if .button }}
          <div class="m-10 place-content-center w-fit mx-auto">  <!-- button -->
            <a href="" class="inline-block px-4 py-1.5 bg-primary text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true">{{ .button }}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  
    <div id="button_next" class="hidden w-fit md:block">
      <button class="hover:text-cyan-800" onclick="nextSlide()">&#10095;</a>
    </div>  
  </div>

  <div id="slideshow_dots" class="hidden mx-auto md:flex w-fit rounded-3xl bg-slate-200 p-1">
    {{ with index .Site.Data.banners .Site.Language.Lang }}
    {{ range $index, $element := . }}
    <div id="slideshow_dot_{{ $index }}"class="cursor-pointer p-2 m-2 w-4 h-4 hover:bg-yellow-600 bg-slate-800 rounded-full" onclick="moveToSlide({{ $index }})"></div>
    {{ end }}
    {{ end }}
  </div>
</section>

<!-- cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease; -->