<section id="features" class="p-4 sm:m-4 md:m-8 lg:m-16">

  <div id="features-title" class="mx-auto text-center text-slate-600">
    <p class="font-heading text-2xl">{{ i18n "services" }}</p>
  </div>

  {{ with index .Site.Data.services .Site.Language.Lang }}
  {{ range $index, $element := . }}
  <div class="mx-auto rounded-lg bg-bg-alternative items-center place-content-between m-10 p-10 sm:flex-none lg:flex max-w-6xl">
    {{ if not (modBool $index 2) }}
    <div class="lg:w-1/2">
      {{ with .image_src }}<img src="{{ . }}" loading="lazy"/>{{ end }}
    </div>
    {{ end }}
    <div class="lg:w-1/2">
      <div class="text-2xl py-4">
        <!-- {{ with .logo_src }}<img class="w-1/4 max-h-36 m-8 float-right" src="{{ . }}" loading="lazy"/>{{ end }} -->
        <h2>{{ .title }}</h2>
      </div>
      <div>
        <p>{{ .description }}</p>
      </div>
      <div>
        <ul class="list-none my-4">
          {{ range $indexItem, $elementItem := .itemize }}
          <li class="flex">
            <div class="h-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4683" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
              </svg>
            </div>
            <div class="w-11/12">
              <p>{{ $elementItem }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>  
    </div>
    {{ if (modBool $index 2) }}
    <div class="lg:w-1/2">
      {{ with .image_src }}<img src="{{ . }}" loading="lazy"/>{{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</section>
