<footer id="footer" class="container w-full bg-slate-800 text-slate-50 rounded-t-3xl">
    <div class="flex place-content-between mx-8 pt-8">
        <div>
            <p>© Copyright {{ now.Format "2006"}} Jose Ignacio Naranjo</p>
        </div>
        <div class="flex place-content-around bg-white">
              {{ range .Site.Params.socialIcon }}
              <div class="m-2">
                <a href="{{ .url }}" target="#"><img
                    class="h-6"
                    src="{{ .src }}"
                    alt="{{ .alt }}"
                    loading="lazy"
                  /></a>    
              </div>
              {{ end }}
        </div>    
    </div>
</footer>

{{ $js_slideshow := resources.Get "js/banner_slideshow.js" }}
<script src="{{ $js_slideshow.Permalink }}"></script>
