<section id="portfolio" class="m-16 p-4">

  <div id="portfolio-title" class="text-3xl text-center text-slate-600">
    <h1>{{ i18n "portfolio" }}</h1>
  </div>

  {{ with index .Site.Data.portfolios .Site.Language.Lang }}
  {{ range . }}
  <div class="container m-10 p-10 rounded-lg bg-red-100 flex items-center place-content-between ">
    <div class="items-center w-3/5">
      <div>
        {{ with .image_src }}<img src="{{ . }}" loading="lazy"/>{{ end }}
      </div>
      <div class="flex items-center my-2"> <!-- buttons -->
        {{ if .android_link }}
        <div class="w-1/6 mr-2">
          {{ with .android_link }}<a href="{{ . }}"><img alt='Get it on Google Play' src="/stores/android_badge.webp"/></a>{{ end }}
        </div>
        {{ end }}
        {{ if .ios_link }}
        <div class="w-1/6 mr-2">
          {{ with .ios_link }}<a href="{{ . }}"><img src="/stores/ios_badge.webp" alt="Download on the App Store"></a>{{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="container w-2/5 px-10">
      <div class="text-2xl py-4">
        <h2>{{ .title }}</h2>
      </div>

      <div class="text-xl py-4">
        <h3>{{ .subtitle }}</h3>
      </div>

      {{ range $indexDescription, $elementDescription := .descriptions }}
      <div>
        <p>{{ $elementDescription }}</p>
      </div>
      {{ end }}
      <div>
        <ul class="list-none my-4">
          {{ range $index, $element := .itemize }}
          <li class="flex">
            <div class="h-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4683" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
              </svg>
            </div>
            <div class="w-11/12">
              <p>{{ $element }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>  
    </div>
  </div>
  {{ end }}
  {{ end }}
</section>
