<section id="portfolio" class="p-4 sm:m-4 md:m-8 lg:m-16">

  <div id="portfolio-title" class="mx-auto text-center text-slate-600">
    <p class="font-heading text-2xl">{{ i18n "portfolio" }}</p>
  </div>

  {{ with index .Site.Data.portfolios .Site.Language.Lang }}
  {{ range . }}
  <div class="mx-auto rounded-lg bg-bg-alternative items-center place-content-between m-10 p-10 flex-none max-w-6xl">
    <div class="px-10">
      <div class="text-2xl py-4">
        <h2>{{ .title }}</h2>
      </div>

      <div class="text-xl py-4">
        <h3>{{ .subtitle }}</h3>
      </div>

      {{ range $indexDescription, $elementDescription := .descriptions }}
      <div>
        <p>{{ $elementDescription }}</p>
      </div>
      {{ end }}
      <div>
        <ul class="list-none my-4">
          {{ range $index, $element := .itemize }}
          <li class="flex">
            <div class="h-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4683" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
              </svg>
            </div>
            <div class="w-11/12">
              <p>{{ $element }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>  
    </div>
    <div class="items-center">
      <div>
        {{ with .image_src }}<img src="{{ . }}" loading="lazy"/>{{ end }}
      </div>
      <div class="flex items-center my-2"> <!-- buttons -->
        {{ if .android_link }}
        <div class="sm:w-1/4 md:w-1/6 lg:w-1/8 mr-2">
          {{ with .android_link }}<a href="{{ . }}"><img class="object-fill" alt='Get it on Google Play' src="/stores/android_badge.webp"/></a>{{ end }}
        </div>
        {{ end }}
        {{ if .ios_link }}
        <div class="sm:w-1/4 md:w-1/6 lg:w-1/8 mr-2">
          {{ with .ios_link }}<a href="{{ . }}"><img class="object-fill" src="/stores/ios_badge.webp" alt="Download on the App Store"></a>{{ end }}
        </div>
        {{ end }}
      </div>
    </div>

  </div>
  {{ end }}
  {{ end }}
</section>
